@import url("https://fonts.googleapis.com/css?family=Righteous");
@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: .8; }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0; }
  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0; } }
@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: .8; }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0; }
  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0; } }
@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea; }
  100% {
    background: #b22cff; } }
@keyframes color-change-2x {
  0% {
    background: #19dcea; }
  100% {
    background: #b22cff; } }
* {
  list-style: none;
  text-decoration: none; }

body {
  margin: 0 !important;
  padding: 0 !important; }

a {
  color: #fff !important; }

.arrow-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  top: -8vh;
  font-size: 4vw;
  overflow: hidden; }

.arrow {
  z-index: 9;
  color: white;
  -webkit-animation: ping 0.8s ease-in-out infinite both;
  animation: ping 0.8s ease-in-out infinite both; }

ul {
  list-style-type: none;
  list-style: none;
  text-decoration: none; }

.global-btn {
  text-align: center;
  padding: 10px 30px !important;
  border-radius: 30px !important;
  text-transform: uppercase;
  font-size: 1.75vw !important;
  background: linear-gradient(to right, #00c9db 0%, #0099d6 100%);
  box-shadow: none !important; }

.global-btn:focus {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both; }

h2:after {
  content: "";
  display: block;
  margin: 2vh auto;
  height: .5vh;
  width: 20vw;
  background: #00c9db; }

.section-header {
  margin-top: 5vh;
  margin-bottom: 10vh;
  font-size: 5vw;
  letter-spacing: 3px;
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
  color: #fff; }

.logo {
  position: absolute;
  z-index: 9;
  top: 5vh;
  left: 5vh; }

.navbar {
  background-color: transparent;
  position: absolute !important;
  top: 5vh;
  left: -.5vh;
  margin-left: 90%;
  z-index: 9; }

button.navbar-toggler {
  border: none;
  font-size: 2vw; }

a.nav-link {
  font-size: 1.75vw;
  color: #fff !important; }

a.nav-link:hover {
  padding-bottom: 5px;
  background: linear-gradient(to right, #00c9db 0%, #0099d6 100%) left bottom transparent no-repeat;
  background-size: 100% 3px;
  width: 6vw;
  font-size: 175%; }

.intro {
  height: 100vh; }

.carousel {
  height: 100vh; }

.carousel-inner {
  height: 100vh; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #0b0100;
  background: linear-gradient(90deg, black 22%, rgba(255, 255, 255, 0) 100%);
  opacity: .7; }

.carousel-item {
  height: 100vh; }

.carousel-item > img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.carousel-indicators {
  bottom: 8vh !important; }

.slide-content {
  position: absolute;
  top: 35vh;
  left: 15vw;
  color: #fff;
  z-index: 9; }

.slide-content h3 {
  font-size: 4vw;
  font-family: 'Righteous', cursive;
  letter-spacing: .5px;
  text-transform: uppercase; }

.slide-content p {
  font-size: 1.25vw; }

.games-list {
  height: 100vh;
  position: relative;
  background-color: #1e283c; }

.row {
  height: 50%; }

.card-1, .card-2, .card-3, .card-4, .card-5, .card-6, .card-7, .card-8 {
  min-height: 50vh !important; }

.card-2 {
  background-image: url("../images/1A-2-1.jpg");
  background-size: cover;
  background-position: center; }

.card-3 {
  background-image: url("../images/2A-1.jpg");
  background-size: cover;
  background-position: center; }

.card-4 {
  background-image: url("../images/3A-1.jpg");
  background-size: cover;
  background-position: center; }

.card-5 {
  background-image: url("../images/4A-1-1.jpg");
  background-size: cover;
  background-position: center; }

.card-6 {
  background-image: url("../images/5A-1-1.jpg");
  background-size: cover;
  background-position: center; }

.card-7 {
  background-image: url("../images/6A-2-1.jpg");
  background-size: cover;
  background-position: center; }

.prices {
  height: 200vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 20%;
  padding-top: 10vh; }

.price-title {
  margin: 5vh 0 12vh;
  color: #fff;
  font-size: 3vw; }

.price-categories {
  text-align: center;
  margin-bottom: 15vh; }

.price-categories button {
  padding: 1.5vw 3.5vw; }

.accordion {
  margin: 10vh 0 25vh; }

.priceboard {
  height: 100%; }

.price-card {
  height: 85vh;
  background: #f2f5fa;
  opacity: .95;
  border-radius: 8px; }

.price-card-center {
  height: 100vh;
  margin: -7vh 0;
  border: 6px solid #00c9db;
  background: #fff; }

.price-card-center > .price-info {
  background: #fff !important; }

.price-info {
  height: 95%;
  background-color: #f2f5fa !important;
  opacity: .75;
  border: none !important; }

.price-title::after {
  display: none; }

.hourly {
  margin-top: 2.5vh; }

.callUs {
  font-size: 2.5vw;
  color: #fff; }

.callUs span {
  color: #00c9db; }

.price-info h3 {
  color: black;
  font-size: 5vw;
  margin-top: 5vh; }

.price-info p {
  margin: 0;
  font-size: 1.5vw; }

.cost {
  margin-bottom: 2vh !important;
  opacity: .5;
  font-size: 5vw !important; }

.card > hr {
  margin-right: 75px !important;
  margin-left: 75px !important; }

.descriptor {
  margin-top: 2.5vh !important;
  font-size: 2.5vw !important; }

.reservations {
  height: 100vh;
  margin-top: -5vh;
  background-color: #47667b;
  background-image: linear-gradient(135deg, #47667b 0%, #1e283c 65%, #000000 100%); }

.res-info {
  position: relative;
  top: 10vh;
  left: 4vh;
  color: #fff; }

.res-info h3 {
  font-size: 4vw;
  padding-bottom: 4vh; }

.res-info p {
  font-size: 1.5vw; }

.perks {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0; }

.perks i {
  top: 1.5vh;
  font-size: 3.5vw; }

.perk-item {
  margin: 2vh 1.75vh;
  font-size: 1.75vw; }

.res-form {
  height: auto;
  position: relative;
  top: -12vh; }

.form-wrapper {
  border: none !important;
  border-radius: 2.15vw !important;
  z-index: 9; }

.jumbotron {
  padding: 3vh !important;
  background-color: #e9ecef;
  border-radius: 2.15vw !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important; }

.res-header {
  background: linear-gradient(to right, #00c9db 0%, #0099d6 100%); }

.res-header h3 {
  font-size: 3.5vw; }

.form-content {
  padding: 1.5vh 5vh !important; }

.form-content .global-btn {
  margin-top: 2vh; }

.form-control {
  margin-bottom: 2.5vh;
  font-size: 2vw !important; }

.form-control::placeholder {
  color: grey !important; }

.wufoo.hide {
  display: none; }

.contact {
  height: 92vh;
  background-color: #1e283c;
  color: #fff; }

.social-bar {
  height: 92vh;
  width: auto;
  background-image: url("../images/contacts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center; }

.logo2 {
  position: relative;
  top: 12vh; }

.contact-list {
  font-size: 1.75vw;
  position: relative;
  top: 20vh;
  left: 25%; }

.contact-list ul {
  padding: 0;
  margin: 0; }

.contact-list li {
  font-size: 1.75vw;
  padding: 1vh 0;
  text-align: left; }

.social-list a {
  font-size: 2.5vw;
  color: #fff;
  position: relative;
  top: 22vh;
  left: -1vw;
  padding: 0 1vw; }

.fa-facebook-square:hover {
  color: #3b5998; }

.fa-instagram:hover {
  color: #fb3958; }

.fa-twitter-square:hover {
  color: #0084b4; }

.fa-yelp:hover {
  color: #c41200; }

.map {
  height: 100%;
  width: auto;
  padding: 0 !important; }

.map-frame {
  height: 92vh; }

footer {
  color: #fff;
  font-size: 1.5vw;
  height: 8vh;
  width: auto;
  background-color: #47667b;
  background-image: linear-gradient(135deg, #47667b 0%, #1e283c 65%, #000000 100%); }

footer span {
  position: relative;
  top: 2.5vh; }

@media (max-width: 991.98px) {
  .navigator {
    margin-left: 88%; }
    .navigator .navbar-toggler-icon {
      font-size: 2.5vw; }

  .arrow-wrapper {
    font-size: 8.5vw; }

  .games-list {
    height: 200vh; }

  .games-list .section-header {
    margin-top: 10vh !important;
    font-size: 7vw; }

  .prices {
    height: auto;
    background-attachment: scroll; }

  .price-card {
    margin: 5vh 0; }

  .price-card-center {
    margin: -2.5vh 0; }

  .price-info p {
    font-size: 3vw; }

  .callUs {
    position: relative;
    bottom: 18vh;
    font-size: 4vw; }

  .descriptor {
    font-size: 3vw !important; } }
@media (max-width: 767.98px) {
  .navigator {
    margin-left: 85%;
    margin-top: 2.5vh; }
    .navigator .navbar-toggler-icon {
      font-size: 6vw; }

  .slide-content {
    top: 30vh;
    left: 1.5vh; }

  .slide-content h3 {
    font-size: 8vw; }

  .slide-content p {
    font-size: 3vw; }

  .arrow-w {
    font-size: 10vw; }

  .games-list {
    height: auto; }

  .games-list .section-header {
    margin-top: 12vh;
    font-size: 12vw; }

  .prices {
    height: auto; }

  .price-categories button {
    margin: 1.5vh; }

  .price-info h3 {
    font-size: 10vw; }

  .cost {
    margin-top: 8vh !important;
    font-size: 8vw !important; }

  .descriptor {
    font-size: 1vw;
    color: red; }

  .carousel-item img {
    width: 150%; }

  .callUs {
    position: relative;
    bottom: 20vh;
    font-size: 5vw; } }
@media (max-width: 575.98px) {
  .navigator {
    margin-left: 75%; }
    .navigator .navbar-toggler {
      font-size: 7.5vw; }

  .price-info h3 {
    font-size: 10vw; }

  .price-info p {
    font-size: 4vw; }

  .cost {
    margin-top: 1vh !important;
    font-size: 12vw !important; } }

/*# sourceMappingURL=styles.css.map */
