// GLOBAL SETTINGS
@import url('https://fonts.googleapis.com/css?family=Righteous');

@-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}};




body {
  margin: 0 !important;
  padding: 0 !important;
}
.director {
  display: flex;
  justify-content: center;
  position: relative;
  top: -8vh;
  z-index: 9;
  font-size: 3.5vw;
  color: white;
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}
ul {
  list-style-type: none;
  list-style: none;
  text-decoration: none;
}
.global-btn {
  text-align: center;
  padding: 10px 30px !important;
  border-radius: 30px !important;
  text-transform: uppercase;
  background: linear-gradient(to right, #00c9db 0%, #0099d6 100%);
}
h2:after {
  content: "";
  display: block;
  margin: 2vh auto;
  height: .5vh;
  width: 20vw;
  background: #00c9db;
}
.section-header {          // Need to change font size & family
  margin-top: 15vh;
  margin-bottom: 5vh;
  font-size: 3vw;
  font-family: 'Righteous', cursive;
  color: #fff;
}

// NAV SETTINGS

.logo {
  position: absolute;
  z-index: 9;
  top: 5vh;
  left: 5vh;
}
.navbar {
  background-color: transparent;
  position: absolute !important;
  top: 5vh;
  left: -.5vh;
  margin-left: 90%;
  z-index: 9;
}

button.navbar-toggler {
  border: none;
  font-size: 2vw;
}
a.nav-link {
  font-size: 1.75vw;
  color: #fff !important;
}
a.nav-link:active {
  text-align:center;
  padding-bottom:5px;
  background: /* gradient can be an image */
    linear-gradient(to right, #00c9db 0%, #0099d6 100%)
    left
    bottom
    transparent
    no-repeat;
  background-size:100% 5px ;
}
a.nav-link:hover {
  text-align:center;
  padding-bottom:5px;
  background: /* gradient can be an image */
    linear-gradient(to right, #00c9db 0%, #0099d6 100%)
    left
    bottom
    transparent
    no-repeat;
  background-size:100% 5px ;
}

// CAROUSEL SETTINGS

.intro {
  height: 100vh;
}
.carousel {
  height: 100vh;
}
.carousel-inner {
  height: 100vh;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(11,1,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 22%, rgba(255,255,255,0) 100%);
    opacity: .7;
}
.carousel-item > img {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-indicators {
  bottom: 8vh !important;
}
// CAROUSEL SETTINGS: SLIDES

.slide-content {
  position: absolute;
  top: 35vh;
  left: 15vw;
  color: #fff;
  z-index: 9;
}
.slide-content h3 {
  font-size: 4vw;
  font-family: 'Righteous', cursive;
  letter-spacing: .5px;
  text-transform: uppercase;
}
.slide-content p {
  font-size: 1.25vw;
}


// GAME LIST SETTINGS

.games-btn {
  // align-self: center;
}
.games-list {
  height: 100vh;
  position: relative;
}
.row {
  height: 50%;
}
.card-1, .card-2, .card-3, .card-4, .card-5, .card-6, .card-7, .card-8 {
  min-height: 50vh !important;
}
.card-2, .card-4, .card-5, .card-7 {
  background-image: url("https://images.unsplash.com/photo-1436262513933-a0b06755c784?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80");
}
.card-3, .card-6, .card-8 {
  background-image: url("https://images.unsplash.com/photo-1510936111840-65e151ad71bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80");
}
.card-2 {
  background-image: url('/images/1A-2-1.jpg');
  background-size: cover;
  background-position: center;
}
.card-3 {
  background-image: url('/images/2A-1.jpg');
  background-size: cover;
  background-position: center;
}
.card-4 {
  background-image: url('/images/3A-1.jpg');
  background-size: cover;
  background-position: center;
}
.card-5 {
  background-image: url('/images/4A-1-1.jpg');
  background-size: cover;
  background-position: center;
}
.card-6 {
  background-image: url('/images/5A-1-1.jpg');
  background-size: cover;
  background-position: center;
}
.card-7 {
  background-image: url('/images/6A-2-1.jpg');
  background-size: cover;
  background-position: center;
}

// PRICE SETTINGS
.prices {
  height: 200vh;
  // position: relative;
  // top: -10vh;
  padding-top: 10vh;
}
.price-title {
  margin: 5vh 0 12vh;
}
.price-categories {
  text-align: center;
}
.price-categories button {
  margin: 0 1.5vw;
  padding: 1.5vw 3.5vw;
}
.priceboard {
  height: 100%;
}
.price-card {
  height: 85vh;
  background: #f2f5fa;
  border-radius: 8px;
}
.price-card-center {
  height: 100vh;
  margin: -7vh 0;
  border: 6px solid grey;
  background: #fff;
}
.price-card-center > .price-info {
  background: #fff !important;
}
.price-info {
  height: 95%;
  background-color: #f2f5fa !important;
  border: none !important;
}
// PRICE SETTINGS: HOURLY
.price-title::after {
  display: none;
}
.hourly {
  margin-top: 2.5vh;
}
.callUs {
  font-size: 2.5vw;
}


// RESERVATION SETTINGS

.reservations {
  height: 100vh;
}
.res-info {
  margin-top: 15vh;
}
.res-info h2 {
  font-size: 4vw;
  position: relative;
  top: -2.5vh;
}
.res-form {
  position: relative;
  top: -12vh;
}
.form-wrapper.card{
  height: 85vh;
  border: 1px solid #f2f5fa;
  background-color: #f2f5fa
}
.form-wrapper label, .form-wrapper input {
  margin: 2.5vh 0;
}
.form-content {
  position: relative;
  top: vh;
}
.res-header {
  padding: 4vh 0;
  background: linear-gradient(to right, #00c9db 0%, #0099d6 100%);
}
.col-form-label {
  font-size: 1.5vw !important;
}


// CONTACT SETTINGS
.contact {
  height: 85vh;
}



// BACKGROUND WRAPPER DECLARATION TAB
.games-list {
  background-color: #1e283c;
}
.prices {
  background-color: indigo;
}
.reservations {
  background-color: tomato;
}
.contact {
  background-color: violet;
}
















// MEDIA QUERIES
@media (max-width: 991.98px) {
  .navigator {
    margin-left: 88%;
    .navbar-toggler-icon {
      font-size: 2.5vw;
    }
  }
  .director {
    font-size: 4.5vw;
  }
  .games-list {
    height: 200vh;
  }
  .price-card {
    margin: 5vh 0;
  }
  .price-card-center {
    margin: -2.5vh 0;
  }
}


@media (max-width: 767.98px) {
  .navigator {
    margin-left: 85%;
    .navbar-toggler-icon {
      font-size: 3vw;
    }
  }
  .director {
    font-size: 6.5vw;
  }
  .games-list {
    height: 400vh;
  }
  .price-categories button {
    margin: 1.5vh;
  }
}


@media (max-width: 575.98px) {
  .navigator {
    margin-left: 75%;
    .navbar-toggler {
      font-size: 7.5vw;
    }
  }
}
