// GLOBAL SETTINGS

body {
  margin: 0 !important;
  padding: 0 !important;
}
.director {
  display: flex;
  justify-content: center;
  position: relative;
  top: -8vh;
  z-index: 9;
  font-size: 3.5vw;
  color: white;
}
ul {
  list-style-type: none;
  list-style: none;
  text-decoration: none;
}
.global-btn {
  padding: 10px 30px;
  border-radius: 30px !important;
  text-transform: uppercase;
  background: linear-gradient(to right, #00c9db 0%, #0099d6 100%);
}

// NAV SETTINGS
.navbar {
  background-color: transparent;
  position: absolute !important;
  top: 2.5vh;
  margin-left: 90%;
  z-index: 9;
}
button.navbar-toggler {
  border: none;
  font-size: 2.5vw;
}


// CAROUSEL SETTINGS

.intro {
  height: 100vh;
}
.carousel {
  height: 100%;
}
.carousel-inner {
  height: 100%;
  background-color: tomato;
}
.carousel-item > img {
  height: 100%;
  background-size: cover;
  background-position: center;
}
.carousel-indicators {
  bottom: 8vh !important;
}


// GAME LIST SETTINGS

.games-list, .price-chart-1 {
  height: 100vh;
}
.row {
  // height: 50%;
}
.card-1, .card-2, .card-3, .card-4, .card-5, .card-6, .card-7, .card-8 {
  min-height: 50vh !important;
}
.card-2, .card-4, .card-5, .card-7 {
  background-image: url("https://images.unsplash.com/photo-1436262513933-a0b06755c784?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80");
}
.card-3, .card-6, .card-8 {
  background-image: url("https://images.unsplash.com/photo-1510936111840-65e151ad71bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80");
}


// PRICING SETTINGS
.prices h2 {          // Need to change font size & family
  margin-top: 25vh;
}
.price-categories {
  text-align: center;
}
.price-categories button {
  margin: 0 1.5vw;
  padding: 1.5vw 3.5vw;
}
